.card:hover{
    transform: none;
}

.watch-icons{
    position: absolute;
    bottom: 10px;
    right: 4px;
    cursor: pointer;
}
.watch-page #more{
    display: none;
}
.form-control:focus{
    box-shadow: none;
}
.card-inner{
    display: none;
}
time{
    bottom: 4px;
    left: 20px;
}
.card{
    border-radius: 10px;
}
.bor{
    border-radius: 10px
}
.card .fa-play {
top: 36% !important;
right: 45% !important;
}
.logo-img2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 45px;
    width: 43px;

}
.logo-img3{
    position: absolute;
    bottom: 24px;
    left: 62px;
    
}

.heart:hover{
   color: rgba(224, 10, 10, 0.884);
   transition: .2s;
}
.like:hover{
    color: rgb(25, 25, 226);
    transition: .2s;
}
.share:hover{
    color: rgb(179, 179, 179);
    transition: .2s;
}
.saved:hover{
    color: rgb(88, 84, 57);
    transition: .2s;
}
.card{
    border-bottom: solid rgb(216, 216, 216);
}
.card:hover{
    border-bottom: solid rgb(216, 216, 216);
}
.image-cap{    
    width: 243px;
    height: 152px;}

.btn-info{
    background-color: rgba(224, 10, 10, 0.884) !important;
    color: white !important;
}
@media(max-width:1062px){
    #myBtn{
        margin-bottom: 60px !important;
    }
}

@media(max-width:587px){
    .replay-time{
        font-size: 10px;
        width: 37px;
    }
}
@media(max-width:1275px){
.logo-img{
    display: block;
  
}
}

@media(max-width:980px){
   .image-cap{
       width: 100%;
       height: 190px;
   }
   .logo-img{
       display: inline;
   }

}
    
